<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :Nickname %><br />
    <%= f.text_field :nickname %>
  </div>
  ニックネーム
  <div class="field">
    <%= f.label :Email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
メールアドレス
  <div class="field">
    <%= f.label :Password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
メールアドレス（確認用）
  <div class="field">
    <%= f.label :Password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
パスワード
  <div class='field'>
    <%= f.label :Birthday %>
  </div>
  生年月日
  <div class='input-birth-wrap'>
    <%= raw sprintf(
      f.date_select(
        :birthday,
        class:'select-birth',
        id:"birth-date",
        use_month_numbers: true,
        prompt:'--',
        start_year: 1930,
        end_year: (Time.now.year - 5),
        date_separator: '%s'),
      "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
