<footer>
    <div class = "genre">
      <div class = "index">ジャンルから探す</div>
      <div class = "item"><%= link_to "イヤホン", root_path %></div>
      <div class = "item"><%= link_to "ヘッドホン", root_path %></div>
      <div class = "item"><%= link_to "スピーカー", root_path %></div>
      <div class = "item"><%= link_to "プレイヤー", root_path %></div>
      <div class = "item"><%= link_to "アクセサリ", root_path %></div>
      <div class = "item"><%= link_to "その他", root_path %></div>
    </div>
    <div class = "about">
      <div class = "index">このサイトについて</div>
      <div class = "item"><%= link_to "HOME", root_path %></div>
      <div class = "item"><%= link_to "ABOUT", root_path %></div>
      <div class = "item"><%= link_to "PROFILE", root_path %></div>
      <div class = "item"><%= link_to "CREDIT", root_path %></div>
      <div class = "item"><%= link_to "SPECIAL THANKS", "https://youtu.be/up9W_6OWb_8" %><p>※音が出ます</p></div>
    </div>
    <div class = "manufacturer">
      <div class = "index">つくったひと</div>
      <div class = "item">工藤 洸平</div>
      <div class = "item">Twitter:@fuzi_SS
      <a href ="https://twitter.com/fuzi_SS?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @fuzi_SS</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
      <div class = "item">Email:voyage1969to70@gmail.com</div>
      <div class = "item">Phone:090-9194-2773</div>
    </div>
  </footer>