<header>
  <div class = "header-contents">
    <div class = "header-left">
      <%= link_to "LttS", root_path %>
    </div>
    <div class="header-center">
      <%= form_with(url: search_reviews_path, local: true, class: "search-form", method: :get) do |f| %>
        <%= f.search_field :keyword, placeholder: "ENTER KEYWORD", id: "search" %>
        <%= f.submit "SEARCH", class: "search-button" %>
      <% end %>
    </div>
    <div class = "header-right">
      <% if user_signed_in? %>
        <div class = "mypage">
          <%= link_to "MYPAGE", user_path(current_user.id), id: "header-menu1" %>
        </div>
        <div class = "new-review">
          <%= link_to "REVIEW", new_review_path , id: "header-menu2"%>
        </div>
        <div class = "logout">
          <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, id: "header-menu3" %>
        </div>
      <% else %>
        <div class = "login">
          <%= link_to "SIGN IN", new_user_session_path, id: "header-menu4" %>
        </div>

        <style>/*  モーダルウィンドウテスト部分
        <div class ="login">
          <%= "signin"  %>
        </div>
        */</style>

        <div class = "user-registration">
          <%= link_to "SIGN UP", new_user_registration_path, id: "header-menu5" %>
        </div>
      <% end %>
    </div>
  </div>
</header>