<body>
  <%= render "shared/header" %>
  <div class = "wrapper">
    <h1>Hello, my sound's mate.</h1>
  </div>
  <div class = "main-contents">
    <div class = "contents-title">
      CONTENTS
    </div>
    <div class = top-content>
      <div class = "left-content">
        <div class = "left-title">
          NEWS
        </div>
        <div class = "timeline">
          <a class="twitter-timeline" data-lang="ja" data-width="500" data-height="650" data-theme="light" data-chrome="noheader, nofooter"  href="https://twitter.com/fuzi_SS/lists/1516663523991965698?ref_src=twsrc%5Etfw">
          </a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class = "random">
          <div class = "random-title">
            FEATURED REVIEW
          </div>
          <% if @reviews.present? %>
            <%= link_to review_path(@random_review) do %>
              <div class="random-images">
                <% @random_review.images.each do |image| %>
                  <div class="random-image">
                    <%= image_tag image %>
                  </div>
                <%end%>
              </div>
              <div class = random-review-bottom>
                <div class = "random-review-preview">
                  <div class = "reviewer">
                    <%= link_to "レビュアー：#{@random_review.user.nickname}", user_path(@random_review.user) %>
                  </div>
                  <p>商品名：<%= @random_review.item %></p>
                  <p>価格帯：<%= @random_review.price_range.name %></p>
                  <p>評価：<%= @random_review.evaluation.name %></p><br>
                  <p><%= @random_review.review_text %></p>
                </div>
              </div>
            <% end %>
          <% else %>
            <p>NO REVIEWS</p>
          <% end %>
        </div>
      </div>
      <div class = right-content>
        <div class = "right-title">
          REVIEWS
        </div>
        <div class = "reviews">
          <% if @reviews.present? %>
            <% @reviews.each do |review| %>
              <div class = "review">
                <%= link_to review_path(review) do %>
                  <div class="other-images">
                    <% review.images.each do |image| %>
                      <div class="other-image">
                        <%= image_tag image %>
                      </div>
                    <% end %>
                  </div>
                  <div class = random-review-bottom>
                    <div class = "review-preview">
                      <p>商品名：<%= review.item %></p>
                      <p>価格帯：<%= review.price_range.name %></p>
                      <p>評価：<%= review.evaluation.name %></p>
                    </div>
                    <div class = "good">
                      <% if user_signed_in? && current_user.good_by?(review.id) %>
                        <%= link_to "❤️", review_goods_path(review), method: :delete %>
                      <% else %>
                        <%= link_to "♡", review_goods_path(review), method: :post %>
                      <% end %>
                      <%= review.goods.count %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <div class = "review">
                <div class="other-images">
                  <%= image_tag "BW_Cancels.jpeg" %>
                  <%= image_tag "BW_Cancels.jpeg" %>
                  <%= image_tag "BW_Cancels.jpeg" %>
                  <%= image_tag "BW_Cancels.jpeg" %>
                </div>
              
              <div class = random-review-bottom>
                <div class = "review-preview">
                  <p>商品名：テスト商品</p>
                  <p>価格帯：テスト価格帯</p>
                  <p>評価：テスト評価</p>
                </div>
                <div class = "good">
                  <%= "❤️  1" %>
                </div>
              </div>
                
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="bottom-content">
      <h2>LISTEN to the STEREO !</h2>
      <div class = "bottom-text">
        LttSは、イヤホン・ヘッドホン・スピーカー・ミニコンポ等のオーディオ装置のレビュー投稿サイトです。<br><br>
        ※注意事項※<br>
        新規登録、ログインしていない方は投稿ができません。<br>
        投稿内容は第三者に公開されます。公序良俗に反した内容や悪意のある表現はお控えください。
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
</body>

