<div class="container">
  <h4>レビュー投稿</h4>
    <div class = "content">
    <%= form_with(model: @review, local: true, id: "new_review") do |f| %>
      <%= f.text_area :item, placeholder: "Item", class: "item" %>
      <div class="image-form">
        Please attach an image
        <div id="previews"></div>
        <div class="click-upload">
          <%= f.file_field :images, name: 'review[images][]', class: "image", data: {index: 0} %>
        </div>
      </div>
      <%= f.text_area :review_text, placeholder: "Write review", class: "review" %>
      Price
      <%= f.collection_select(:price_range_id, PriceRange.all, :id, :name, {}, {class:"select-box", id:"price"}) %>
      Category
      <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"category"}) %>
      Evaluation
      <%= f.collection_select(:evaluation_id, Evaluation.all, :id, :name, {}, {class:"select-box", id:"evaluation"}) %>
      <%= f.submit "Post review", class: "send" %>
    <% end %>
    </div>
</div>